{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "printWidth": 120,
    "endOfLine": "lf",
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^@/components/(.*)$",
        "^@/ui/(.*)$",
        "^@/hooks/(.*)$",
        "^@/shared/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
